.card {
    max-width:95% ;
    display: flex;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    margin: auto;
    margin-top: 1em;
    

}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.info {
    flex: 1;
    padding: 12px;
}

.title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.desc {
    font-size: 0.85rem;
    color: #666;
}

.bottomRow {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 1rem;
}

.addBtn {
    background: #ffb800;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: 600;
}