.topRow {

}

.topInfo {
    flex-grow: 1;
}

.divider {
    width: 100%;
    height: 1px;
    background: #e6e6e6;
    margin: 10px 0;
}

.accordionToggle {
    background: #f3f3f3;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.accordionToggle:hover {
    background: #e9e9e9;
}

.accordionLabel {
    display: flex;
    align-items: center;
    gap: 8px;
}

.accordionArrow {
    font-size: 1.1rem;
}